/* Dashboard.css */
.global-container{
  display: flex;
  flex-direction: column;
  height:100vh
}
.dashboard {
    padding: 0px;
    display: grid;
    grid-template-columns: 3fr 2fr;
    margin: 0;
    max-height: 100%;
    flex: 1;
    /* overflow: auto; */
  }
  .filter-wrapper {
    background-color: #348ddb;
  }
  .left-container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    /* display: grid;
    grid-template-rows: 1fr 3fr; */
  }
  .filter-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    border-radius: 0 0 0 50px;
    background-color: white;
    padding-left: 20px;
  }
  .filter-options {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    border-radius: 50px;
    align-items: center;
    gap: 50px;
  }

  .task-list {
    display: flex;
    flex-direction: column;
    justify-items: flex-start;
    gap: 10px;
    padding: 20px;
    direction:ltr;
    background-color:transparent;
    border-radius: 0 20px;
  }
  
  .list-wrapper{
    direction: rtl;
    overflow: auto;
    background-color: #348ddb;
    width:fit-content;
    max-height: 100%;
    position: relative;
    margin-left: 0px;
  }
  .list-shape-wrapper{
    background-color: #348ddb;
    max-height: 100%;
    padding: 20px 0 0px 20px;
    border-radius: 0px 50px 0px 0;
    flex: 1;
  }
  .list-wrapper::-webkit-scrollbar{
      background: #6cb3f0;
      border-radius: 5px;
      width: 5px;
      height: 70%;
  }
  .list-wrapper::-webkit-scrollbar-track {
      background: linear-gradient(0deg, #348ddb, 5%, rgba(0,0,0,0) 5%),linear-gradient(0deg, #86bbea 95%, #348ddb 5%);
      width: 2px;
  }

  .list-wrapper::-webkit-scrollbar-thumb {
    margin-top: 5%;
    background: #114e84;
    border-radius: 5px;
  }
  
  .task-icon {
    width: 30px;
    height: 30px;
    border: 2px solid #348ddb;
    border-radius: 50%;
    margin-right: 10px;
  }
  
  .task-info {
    flex-grow: 1;
  }
  
  .task-header {
    display: flex;
    justify-content: space-between;
  }
  
  .due-time-container {
    display: flex;
    justify-content: flex-end;
    margin-top: 8px;
  }
  
  .task-footer {
    margin-top: 10px;
  }
  
  .add-task-button {
    display: none;
  }
  
  .add-task-button:hover {
    background-color: #2980b9;
    color: white;
  }
  
  @media screen and (max-width: 600px) {
    .global-container{
      display: flex;
      flex-direction: column;
      height:100vh;
    }
    .dashboard {
      grid-template-columns: 1fr;
      max-height: 100%;
      flex: 1;
      display: flex;
    }
    .task-list {
      display: flex;
      flex-direction: column;
      max-width: 100%;
      padding: 0;
      margin: 20px;
    }
    .list-wrapper{
      max-width: 100%;
      overflow: auto;
      border-radius: 0 50px 0 0;
    }
    .right-container {
      display: none;
    }
    .filter-container{
      border-radius: 0 0 0 40px;
      max-width: 100%;
      height: 200px;
    }
    .list-shape-wrapper{
      border-radius: 0 30 0 0px;
      max-width: 100%;
      overflow: auto;
      /* align-self: flex-end; */
    }
    .left-container{
      max-width: 100%;
      max-height: 100%;
      flex: 1;
      /* align-self: flex-end; */
    }
  }