.form-container {
    /* max-width: 400px; */
    /* max-height: 85vh; */
    /* width: 100%; */
    position: relative;
    margin: 30px;
    padding: 20px;
    /* border: 1px solid #ccc; */
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    /* justify-content: center; */
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
/*   
  h2 {
    font-size: 1.5rem;
    margin-bottom: 20px;
  }
  */
  .form-title{
    /* border: 1px solid #348ddb; */
    border-radius: 10px;
    padding: 5px;
    max-width: fit-content;
    margin: 0;
    /* box-shadow: 0 0 10px #348ddb; */
  }
  .label-text {
    color:#58b4dc;
    font-weight: 700;
  }
  .title-text, .description-text{
    width: 100%;
    border: none;
    outline:none;
    border-bottom: 2px solid #58b4dc;
    resize:none;
  }
  /* input,
  textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    border-bottom: 2px solid #77c0ff;
    border-radius: 4px;
  } */

  /* button {
    background-color: #4caf50;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  } */
  .btn{
    width:fit-content;
    color:white;
    border-radius:8px;
    padding:10px 30px;
    text-align:center;
    background-color: #348ddb;
    cursor: pointer;
    margin:auto;
    font-weight: 700;
    font-size: medium;
  }
  
  @media screen and (max-width: 600px) {
    #root{
      height: 100%;
    }
    .form-container {
      height: 100%;
    }
  }